docx==0.2.4
docx2pdf==0.1.8
fastapi==0.115.6
geojson==3.1.0
geopandas==1.0.1
h3==4.1.2
matplotlib==3.10.0
numpy==2.2.1
openai==1.58.1
pandas==1.5.2
plotly==5.23.0
pypdf==5.1.0
python-dotenv==1.0.1
PyYAML==6.0.1
PyYAML==6.0.2
Requests==2.32.3
sentinelhub==3.11.1
Shapely==2.0.6
streamlit==1.32.2
streamlit_plotly_events==0.0.6
